[uwsgi]
vhost           = true
plugins         = python
chdir           = {{project_root}}/{{project_name}}/assignment/
module          = assignment.wsgi
socket          = /tmp/assignmnet.sock
master          = true
enable-threads  = true
processes       = 20
threads 		= 2

wsgi-file       = {{project_root}}/{{project_name}}/assignment/wsgi.py
buffer-size    = 65535
